*{
    font-family: 'Syne', sans-serif;
}

body{
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section{
    display: flex;
    flex-direction: column;
    padding: 60px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
}
.contact-form{
    width: 100%;

}
h2{
    font-size: 40px;
    text-align: center;
}
p{
    font-size: 16px;
    text-align: center;
    color: #666;
}
.contact-form form{
    margin-top: 25px;
}

.input-group{
    display: flex;
    justify-content: space-between;
}

.input-group input[type="text"],
.input-group input[type="email"],
.contact-form input[type="text"][placeholder="Subject"],
.contact-form textarea{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    outline: none;
}

.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus,
.contact-form input[type="text"][placeholder="Subject"]:focus,
.contact-form textarea:focus{
border: 2px solid #c22c2c;
}

.input-group input[type="text"]{
    width: calc(50% - 5px);
}

.input-group input[type="email"]{
    width: calc(50% - 5px);
    margin-left: 10px;
}

.contact-form input[type="text"][placeholder="Subject"]{
    width: calc(100% - 20px);
}
.contact-form textarea{
    width: calc(100% - 20px); 
    height: 100px;
    resize: none;
}

.contact-form button{
   background-color: #c22c2c;
   color: #ffff;
   padding: 15px;
   border: none;
   width: 100%;
   font-size: 16px;
   cursor: pointer;
   transition: all .4s ease-in-out;
}

.contact-form button:hover{
    background-color: #921111;
}

.social-icons{
 display: flex;
 justify-content: center;
 margin: 1.5rem;
}
.social-icons i{
    padding: 10px 12px;
    background-color: #ffff;
    border: 1px solid #ddd;
    margin: 0 10px;
    transition: all .4s ease-in-out;
}
.social-icons a:hover i{
    color: #fff;
    background-color: #921111;
}